{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block content %}

<head>
    <title>Frequently Asked Questions</title>
    <meta content="Frequently Asked Questions" name="title">

</head>


<h3 class="text-center m-3" style="font-family: Poppins, sans-serif;color: #5F2EEA;">Frequently Asked Questions</h3>

<div class="mx-5 my-4 text-justify" style="font-family: Poppins, sans-serif">
<span id="docs-internal-guid-6d950076-7fff-6e37-8b3b-6ecc73ddfdc8"><p dir="ltr"
                                                                      style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Why should you use Alemeno?</span></p><p
        dir="ltr" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">If you would like your kids to eat nutritious food every day and make them healthy eaters of tomorrow, you should use Alemeno. We believe early childhood is the best time to inculcate healthy eating habits in kids and our app does just that for you.</span></p><p
        dir="ltr" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">&nbsp;</p><p dir="ltr"
                                                                                               style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">How does Alemeno help parents and kids?</span></p><p
        dir="ltr" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Many parents have to convince their kids to eat properly. Naturally, parents feel concerned for their kids' health. Alemeno works in a way that parents and kids have a common goal -&nbsp; </span><span
        style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">eating healthy every day</span><span
        style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">.</span></p><p
        dir="ltr" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">&nbsp;</p><p dir="ltr"
                                                                                               style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">We use a simple principle: Kids love fun things like music, stories, and game (who doesn't?). And they'd love it if eating healthy could be as cool as playing a game.</span></p><p
        dir="ltr" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">&nbsp;</p><p dir="ltr"
                                                                                               style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Our solution gamifies kids' mealtime to make healthy eating a fun gameplay. The gameplay helps kids learn and imbibe the following healthy eating habits :&nbsp;</span></p><ol
        style="margin-bottom: 0px; padding-inline-start: 48px;"><li aria-level="1"
                                                                    dir="ltr"
                                                                    style="list-style-type: decimal; font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;"><p dir="ltr"
                                                                                      role="presentation"
                                                                                      style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">eating a variety of healthy food</span></p></li><li
        aria-level="1"
        dir="ltr"
        style="list-style-type: decimal; font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;"><p dir="ltr" role="presentation" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">eating required quantity of food</span></p></li><li
        aria-level="1"
        dir="ltr"
        style="list-style-type: decimal; font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;"><p dir="ltr" role="presentation" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">eating within the desired time&nbsp;</span></p></li><li
        aria-level="1"
        dir="ltr"
        style="list-style-type: decimal; font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre;"><p dir="ltr" role="presentation" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">eating with own hands</span></p></li></ol><p
        dir="ltr" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">&nbsp;</p><p dir="ltr"
                                                                                               style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">With Alemeno, kids will be excited to have their daily portions of nutrients.&nbsp;</span></p><p
        dir="ltr" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">&nbsp;</p><p dir="ltr"
                                                                                               style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">How does Alemeno gameplay work?</span></p><p
        dir="ltr" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">&nbsp;</p><p dir="ltr"
                                                                                               style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
        style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Here is a quick video to show how Alemeno works</span>
    <span
            style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><br><br></span></p><p
        dir="ltr" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">



    <div class="justify-content-center" id="videocover">

    <iframe frameborder="0" src="https://www.youtube.com/embed/I2kihLQ42IE"
            style="max-width: 650px; min-height: 300px" title="YouTube video player"
            width="560"
    >
    </iframe>

</div>

    </p><p
            dir="ltr" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;">&nbsp;</p><p dir="ltr"
                                                                                                   style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
            style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">You should try Alemeno to experience the fun yourself. </span></p><div><span
            style="font-size: 11pt; font-family: Arial; color: rgb(34, 34, 34); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><br></span></div></span>
    {%endblock %}
</div>

<script>

    mixpanel.track('FAQPageVisit');
</script>
</html>

