{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block content %}

<head>
    <title>How It Works</title>
    <meta content="Frequently Asked Questions" name="title">

</head>


<h3 class="text-center m-3" style="font-family: Poppins, sans-serif;color: #5F2EEA;">How It Works</h3>

<div class="mx-5 my-4 text-justify" style="font-family: Poppins, sans-serif">

<span id="docs-internal-guid-6d950076-7fff-6e37-8b3b-6ecc73ddfdc8"><p dir="ltr"
                                                                      style="line-height:1.38;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;">


        <div class="justify-content-center" id="videocover">

    <iframe frameborder="0" src="https://www.youtube.com/embed/0Bnk80sQQso"
            style="max-width: 650px; min-height: 300px" title="YouTube video player"
            width="560"
    >
    </iframe>

</div>


    </p><p
            dir="ltr" style="line-height:1.38;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;">&nbsp;</p><ol
            style="margin-top:0;margin-bottom:0;padding-inline-start:0px;"><li aria-level="1"
                                                                               dir="ltr"
                                                                               style="list-style-type:decimal;font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;"><p dir="ltr"
                                                                                                 role="presentation"
                                                                                                 style="line-height:1.38;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;"><span
            style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">How to use the app</span><span
            style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span
            style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Simple </span><span
            style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span
            style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">1. Click your meal</span><span
            style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span
            style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">2. Let us know finish the meal</span><span
            style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span
            style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Our game will take care of the rest of the things</span><span
            style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br><br></span></p></li>
        <li aria-level="1"
            dir="ltr"
            style="list-style-type:decimal;font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;
            font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"><p dir="ltr"
                              role="presentation"
                              style="line-height:1.38;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;">
        <span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:700;font-style:normal;
                font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">What if I miss taking the meal picture?</span><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"> </span><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">This can happen. Your profile section has a simple tool - Add missing meals - to add the meals you missed taking pictures</span><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br><br></span></p></li><li
                aria-level="1"
                dir="ltr"
                style="list-style-type:decimal;font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;"><p dir="ltr"
                                  role="presentation"
                                  style="line-height:1.38;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;"><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:700;font-style:normal;
                font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">How can my kid share meals if they are with other parents or guardian</span><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Your kid’s game progress is linked with your registered phone number and they can continue their gameplay on different devices. You will have to provide OTP to the caretaker or guardian before they can login into your kid’s game.</span><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br><br></span></p></li>

        <li
                aria-level="1"
                dir="ltr"
                style="list-style-type:decimal;font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;"><p dir="ltr"
                                  role="presentation"
                                  style="line-height:1.38;background-color:#ffffff;margin-top:0pt;margin-bottom:0pt;"><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">How to use a nutrition tracker?</span><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Nutrition tracker is key to ensure your kids get the nutrition they need. Nutrition tracker shows daily, weekly, and monthly progress on nutrition requirements. We advise parents to ensure they make up for nutrients your kid is lagging on.
App will time to time come up with recommendations to ensure your kids get balanced nutrition they need</span><span
                style="font-size:11pt;font-family:Arial;color:#222222;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br><br></span></p></li>



    </ol></span>
    		    <div class="col-12 p-0" style=" display: flex;justify-content: flex-start;">
		    <img src="/static/assets/images/phone_blue.png" style="width: 16px;height: 16px;padding-top: 5px;">
		      +91 7042835383 </div>
</div>
{% endblock %}


<script>

    mixpanel.track('HowItWorksPageVisit');
</script>
</html>

