{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block content %}

<head>
    <title>Privacy Policy</title>
    <meta content="Privacy Policy" name="title">

</head>


<h3 class="text-center m-3" style="font-family: Poppins, sans-serif;color: #5F2EEA;">Privacy Policy</h3>

<div class="mx-5 my-4 text-justify" style="font-family: Poppins, sans-serif">

    <p>
        This Privacy Policy applies to the online services offered by Alemeno at alemeno.com, its subdomains and
        alemeno’s app on Google Play Store. These are henceforth collectively known as Services.

    </p>
    <h4>
        Overview
    </h4>
    <p>
        We respect your privacy and strive to provide a safe, secure user experience. This privacy statement sets forth
        our online data collection and usage policies and practices. By using our services, you consent to the policies
        and practices described in this statement. Your data will be stored and processed on our servers which may be
        inside or outside India and your usage of the Services constitutes consent to the transfer of your data out of
        India. This privacy statement applies solely to the information we collect on alemeno.com
    </p>
    <h4>
        Collection of Information
    </h4>
    <p>
        Personal information provided by you: In some areas of our Services, we request you to provide or submit
        personal information including your name, email address, telephone number, and any other information from which
        your identity is discernible. alemeno also collects or may collect demographic information that is not unique to
        you such as your ZIP code, age, preferences and gender. Example of such a situation could include, but is not
        limited to when you sign up to use our service,or enter a survey.
    </p>
    <p>

        Information collected when you use third party services:
    </p>
    <p>
        For a better experience, and in order to provide our service, we may require you to provide us, either directly
        or indirectly, with certain personally identifiable information, including but not limited to user name. The
        information that we request will be retained by us and used as described in this privacy policy.
    </p>
    <p>
        We may collect, process and store your information associated with your Google account if you choose to sign in
        using Google. When you sign in to your account with your Google account information, you consent to our
        collection, storage, and use of the information that you make available to us through your Google account in
        accordance with this Privacy Policy. This could include your name, email address and phone number associated
        with your Google account.
    </p>
    <p>
        Information collected through use of service: We also gather or may gather certain information about your use of
        our Services, such as what areas you visit and what features you access. Moreover, there is information about
        your computer hardware and software that is or may be collected by us. This information can include without
        limitation your IP address, browser type, domain names, access times and referring website addresses and can be
        used by alemeno as it deems fit. </p>
    </p>
    <h4>
        Retention of Information
    </h4>
    <p>
        Since we believe that inculcating healthy eating habits is a life-long process, we retain indefinitely all the
        information we gather about you in an effort to make your repeat use with us more efficient, practical, and
        relevant. You can correct or update your account profile and resume at any time. You may choose to delete your
        account, following which we will either delete or de-identify the data.
    </p>
    <h4>
        Sharing of information
    </h4>
    <ul>
        <li>
            You may have the option to share your information and activities on alemeno through social media. We do not
            have
            control over information shared with third party social networks and you should review the policies of those
            networks before consenting to share information with them.


        </li>
        <li>
            When we send you an email or SMS, we use a third party service. In this case, it becomes necessary to pass
            on
            your email address/ mobile number to the third party. While we only work with reputed service providers in
            this
            regard, we are not responsible for the use made by them of this information.
        </li>
        <li>
            We may also share your information in order to investigate, prevent, or take action about possible illegal
            activities or to comply with legal process. We may also share your information with third parties to
            investigate
            and address violations of this Privacy Policy or the Terms of Service, or to investigate and address
            violations
            of the rights of third parties and/or alemeno, our employees, users, or the public. This may involve the
            sharing
            of your information with law enforcement, government agencies, courts, and/or other organizations.
        </li>
    </ul>
    <br>
    <h4>
        Communication policy
    </h4>
    <h5>
        For opt-in
    </h5>

    <p>

        For a user to receive updates on their services, newsletter and other marketing communication from us over
        email, Whatsapp, SMS; alemeno follows a opt-in policy .
    </p>
    <h5>
        For opt-in
    </h5>
    <p>
        Every promotional communication from alemeno contains an 'Unsubscribe' link that you can click on to stop
        receiving any future promotional content from us on your email. It may take upto 7 days for your unsubscription
        request to be processed.
    </p>
    <p>
        Transactional: We require to send users transactional communication as this is required for proper functioning
        of our service. If you wish to discontinue receiving any transactional communication from alemeno, write to us
        at <a href="mailto: privacy@alemeno.com" style="color: blue"> privacy@alemeno.com </a>.

    </p>

    <h4>
        Cookies and pixel tags
    </h4>
    <p>
        We and third parties with whom we partner, may use cookies, web beacons, pixel tags etc. to collect information
        regarding your use of alemeno and third party websites. A cookie is a small text file that is stored on your
        computer that enables us to remember you (for example, as a registered user) and your actions when you visit our
        website. This helps us remember your preferences and searches, improve your experience (for example, by keeping
        you
        logged in), customize content according to your preferences and perform analytics, and assist with security and
        administrative functions. Cookies may be persistent or stored only during an individual session ,as necessary. A
        pixel tag is a tiny graphic with a unique identifier embedded invisibly in an email and may be used to track
        whether
        the email has been opened and for other analytics.
    </p>
    <p>
        Most modern browsers will allow you to disable some/all cookies for any website. However, this is not
        recommended
        and doing so may interfere with normal functioning of alemeno. If you do not turn cookies off, please make sure
        you
        logout when you finish using a shared computer.
    </p>
    <h4>
        Security of information
    </h4>
    <p>
        We have implemented generally accepted industry standards in terms of security measures to protect your
        information
        on alemeno.
    </p>
    <p>
        While we try our best to safeguard information, there may be factors beyond our control that may result in
        unwanted
        disclosure of information. We assume no liability or responsibility for disclosure of your information due to
        causes
        beyond our control.
    </p>
    <p>
        In order to keep personal information secure, you must not share your password or other security information
        (for
        example, unique keys) of your alemeno account with anyone. If you are using a shared computer or device, please
        make
        sure you logout after every use. If we receive instructions using your email and password, we will consider that
        the
        instructions have been authorized by you.
    </p>
    <h4>
        No Guarantees
    </h4>
    <p>
        While this Privacy Policy states our standards for maintenance of data and we will make efforts to meet
        them, we are
        not in a position to guarantee these standards. There may be factors beyond our control that may result
        in
        disclosure of data. As a consequence, we disclaim any warranties or representations relating to
        maintenance or
        nondisclosure of data.
    </p>
    <h4>
        Changes to this Privacy Policy
    </h4>
    <p>
        We may make changes to this Policy from time to time. We may notify you of substantial changes
        to this Policy either
        by posting a prominent announcement on our Services and/or by sending a message to the e-mail
        address you have
        provided to us. You are advised to refer to this page to know about our latest Privacy Policy.
    </p>
</div>
{% endblock %}


<script>

    mixpanel.track('PrivacyPageVisit');
</script>
</html>

