{% extends 'base.html' %}

{% load static %}
<html lang="en">


{% block meta %}
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<meta content="Alemeno transforms kids’ picky or fussy eating behaviour and makes healthy eating a fun activity. It eases parents’ struggle to feed their kids."
      name="description">
<meta content="" name="author">
<meta content="A fun way inculcate healthy eating habits in kids" name="title">


<title>A fun way inculcate healthy eating habits in kids</title>
<!-- Facebook MetaTags -->

<meta content="A fun way inculcate healthy eating habits in kids" property="og:title">
<meta content="Alemeno transforms kids’ picky or fussy eating behaviour and makes healthy eating a fun activity. It eases parents’ struggle to feed their kids."
      property="og:description">
<meta content="/static/assets/images/banner.png" property="og:image">
<meta content="https://www.alemeno.com/" property="og:url">
<!-- Bootstrap core CSS -->
{% endblock %}

{% block content %}


<body>


<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe height="0"
            src="https://www.googletagmanager.com/ns.html?id=GTM-KZZLFFL" style="display:none;visibility:hidden" width="0"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


<!--Mobile screen hero image-->
<div class="page-title justify-content-center mx-3 my-4 mx-sm-5 d-lg-none">
    Inculcate healthy eating habits in your kids, effortlessly
</div>


<div class="page-sub-title d-lg-none d-lg-none">
    Kids will joyfully eat meals you prepare
</div>

<form class="startTrialForm">
    <div class=" d-lg-none justify-content-center text-center">

        <!--<input type="tel" id="wa_num1"-->
        <!--class="validate input-style   mt-5 bg-light"-->
        <!--style="max-width: 350px;height: 65px;font-size:16px;font-family:'Poppins','sans-serif'"-->
        <!--autocomplete="mobile" pattern="\d*" maxlength="10" minlength="10"-->
        <!--placeholder="Enter 10 digit Mobile number" dir="" required>-->
        <!--<div class="col-12">-->
        <!--<input type="checkbox" class="form-check-input checkbox-inline " id="agree1"-->
        <!--name="checkbox" checked>-->
        <!--<label class="form-check-label oops-text" for="agree1"-->
        <!--style="font-size: 10px">-->
        <!--Agree to our-->
        <!--<a style="color: blue;" href="https://www.alemeno.com/general/terms">Terms and conditions</a>-->
        <!--</label>-->
        <!--</div>-->

        <!--<div class="col-12 mb-4">-->
        <!--<input type="checkbox" class="form-check-input checkbox-inline " id="sms2"-->
        <!--name="checkbox" checked>-->
        <!--<label class="form-check-label oops-text" for="sms2"-->
        <!--style="font-size: 10px">-->
        <!--Receive promotional SMS messages, Opt-out anytime.-->
        <!--</label>-->
        <!--</div>-->


        <div class="text-center ">
            <button class="button text-white mb-5 mt-5" onclick="passUTMOnClick()"
                    style="max-width: 300px;display: inline-block"
                    type="button"
            >Download now
            </button>
        </div>


    </div>

</form>


<div class="hero-image row justify-content-center d-lg-none">
    <img alt="" src="/static/assets/images/banner.png">
</div>

<!--Laptop screen hero image-->


<div class="jumbotron cover m-0 p-0 d-lg-block d-none">
    <div class="page-title display-4 pl-5 ml-5 mt-5 pt-4">Inculcate healthy eating habits in your kids, effortlessly
    </div>
    <div class="page-sub-title pl-5 ml-5 mt-5 mb-4 pb-3">Kids will joyfully eat meals you prepare.</div>

    <form class="startTrialForm" style="margin-left: 100px">
        <div class="row" style="max-width: 60%">
            <!--<input type="tel" id="wa_num2"-->
            <!--class="validate input-style col-6 mr-0 pr-0 bg-light wa_num "-->
            <!--style="max-width: 450px; height: 65px;font-size:18px;font-family:'Poppins','sans-serif'"-->
            <!--autocomplete="mobile" pattern="\d*" maxlength="10" minlength="10"-->
            <!--placeholder="Enter 10 digit Mobile number" dir="" required>-->
            <button class=" col-6 button justify-content-center text-white" onclick="passUTMOnClick()"
                    style="margin-left: 0px; max-width: 300px; min-width: 260px"
                    type="button"
            >Start your free trial
            </button>
        </div>
        <div class="form-check">
            <!--<input type="checkbox" class="form-check-input " id="agree2"-->
            <!--name="terms" checked>-->
            <!--<label class="form-check-label oops-text" for="agree2"-->
            <!--style="font-size: 10px">-->
            <!--Agree to our-->
            <!--<a style="color: blue;" href="https://www.alemeno.com/general/terms">Terms and conditions </a>-->
            <!--</label>-->
            <!--<div>-->
            <!--</div>-->


            <!--<input type="checkbox" class="form-check-input checkbox-inline " id="sms1"-->
            <!--name="checkbox" checked>-->
            <!--<label class="form-check-label oops-text" for="sms1"-->
            <!--style="font-size: 10px">-->
            <!--I would like to receive order updates and promotional SMS messages, Opt-out anytime.-->
            <!--</label>-->
        </div>


    </form>

</div>


<div class="row justify-content-center p-sm-5" id="videocover"
     style="background-color: var(--primaryColor); padding: 1.5rem">

    <!--<video id="myvideo" style="max-width: 650px;-->
    <!-- -moz-border-radius:8px;-->
    <!-- -webkit-border-radius:8px;-->
    <!--border-radius:8px;-->
    <!--overflow:hidden;-->
    <!--padding: 0px;"-->
    <!--class="col-10"-->
    <!--title="click to find out more..."-->
    <!---->
    <!--controls controlsList="nodownload nofullscreen noremoteplayback"-->
    <!--disablePictureInPicture disableResmotePlayback>-->
    <!--<source src="/static/assets/images/alemeno.mp4" type="video/mp4">-->
    <!--</source>-->
    <!--</video>-->

    <iframe frameborder="0" src="https://www.youtube.com/embed/0Bnk80sQQso"
            style="max-width: 650px; width: 90%; min-height: 500px" title="YouTube video player"
            width="560"
    >
    </iframe>

</div>

<script>

    // $("#videocover").click(function () {
    //     var video = $("#myvideo").get(0);
    //     if (video.paused) {
    //         video.play();
    //
    //     }
    // });

    // $(document).on('click touchstart', function () {


    $("#videocover").on('click touchstart', function () {

        var video = $("#myvideo").get(0);
        if (video.paused) {
            video.play();
        } else {
            video.pause();
        }
    });

    $("#myvideo").removeAttr("controls");

    $("#myvideo").hover(function (event) {
        if (event.type === "mouseenter") {
            $(this).attr("controls", "");
        } else if (event.type === "mouseleave") {
            $(this).removeAttr("controls");
        }
    });

</script>

<div class="sec-title" style="margin-top: 24px!important;">

    Alemeno Benefits
</div>

<div class="container-fluid justify-content-center" style="max-width: 1400px">
    <div class="row m-4 justify-content-center">
        <div class="content-text py-3 px-0 m-3 col-12 col-lg-5 mx-lg-5 p-lg-4 " style="background: #5ea45130">
            Lifelong healthy habits in your kids
        </div>

        <div class="content-text py-3 px-0 m-3  col-12 col-lg-5 mx-lg-5 p-lg-4  " style="background: #5ea45130">
            Zero mealtime stress and anxiety
        </div>

        <div class="content-text py-3 px-0 m-3 col-12 col-lg-5 mx-lg-5 p-lg-4 " style="background: #5ea45130">
            Empowers physical and cognitive growth
        </div>

        <div class="content-text py-3 px-0 m-3 col-12 col-lg-5 mx-lg-5 p-lg-4  " style="background: #5ea45130">
            Strong parent-child relationship
        </div>

    </div>
</div>


<div class="jumbotron jumbotron-fluid bg-pricing" style="background: #5ea45130!important;">
    <div class="container">
        <p class="pricing-text">
            Alemeno gamifies kids' mealtime to inculcate lifelong healthy habits in them effortlessly,
            and support their physical and cognitive growth.
        </p>
        <form class="startTrialForm justify-content-center">
            <div class="row justify-content-center">
                <!--<input type="tel" id="wa_num3"-->
                <!--class="validate input-style col-6 mt-md-4  mr-0 pr-0 bg-white "-->
                <!--style="max-width: 450px; min-width: 300px; border: 0px solid;height: 65px;-->
                <!--font-size:18px;font-family:'Poppins','sans-serif'"-->
                <!--autocomplete="mobile" pattern="\d*" maxlength="10" minlength="10"-->
                <!--placeholder="Enter 10 digit Mobile number" dir="" required>-->
                <button class=" col-6 button mt-md-4 justify-content-center text-white" onclick="passUTMOnClick()"
                        style="margin-left: 0px; max-width: 300px; min-width: 300px;"
                        type="button"

                >Download now
                </button>
                <!--<div class="col-12 text-center">-->
                <!--<input type="checkbox" class="custom-checkbox checkbox-inline " id="agree3"-->
                <!--name="terms" checked>-->
                <!--<label class="form-check-label oops-text" for="agree3"-->
                <!--style="font-size: 10px">-->
                <!--Agree to our-->
                <!--<a style="color: blue;" href="https://www.alemeno.com/general/terms">Terms and conditions</a>-->
                <!--</label>-->
                <!--</div>-->

                <!--<div class="col-12 text-center mb-5">-->
                <!--<input type="checkbox" class="form-check-input checkbox-inline " id="sms3"-->
                <!--name="checkbox" checked>-->
                <!--<label class="form-check-label oops-text" for="sms3"-->
                <!--style="font-size: 10px">-->
                <!--Receive promotional SMS messages, Opt-out anytime.-->
                <!--</label>-->
                <!--</div>-->

            </div>

        </form>
    </div>
</div>


<div class="container-fluid justify-content-center" style="background: #f5f6f7;">
    <div class="container mt-5">

        <div class="sec-title" style="margin-top: 24px!important;">Partners and Media</div>

        <div class="allmediandpartners mt-5">
            <div class="logos">
                <center>
                    <img alt="AIC" class="img-fluid" src="/static/assets/images/aic.png">
                    <img alt="Startup India" class="img-fluid" src="/static/assets/images/startindia.png">
                    <img alt="Razorpay Rize" class="img-fluid" src="/static/assets/images/razorpayrize.png.png">
                    <img alt="Hindustan times" class="img-fluid ht" src="/static/assets/images/hindustantimes.png">
                </center>
            </div>

            <div class="names">
                <center>
                    <h3>AIC-RNTU</h3>
                    <h3>Startup India</h3>
                    <h3>Razorpay Rize</h3>
                    <h3>Hindustan Times</h3>
                </center>
            </div>
        </div>

        <br>
        <br>
        <br>

    </div>


    <style type="text/css">
        .allmediandpartners {
            /*background: lightcoral;*/
        }

        .logos {
            /*background: lightblue;*/
        }

        .logos img {

            width: 140px;
            margin: 1rem 3rem;
        }

        .logos .ht {
            width: 80px;
        }

        .names {
            display: none;
            /*background: lightgreen;*/
        }

        .names h3 {
            display: inline-block;
            width: 200px;
            margin: 1rem;
            /*background: lightgoldenrodyellow;*/
        }

        @media only screen and (max-width: 991px) {
            .names {
                display: none;
            }

            .logos img {
                margin: 2rem 1rem;
            }
        }
    </style>


</div>

<div class="jumbotron jumbotron-fluid footer-color">
    <h3 class="sec-title" style="margin-top: 20px!important;">Have Questions?</h3>

    <div class="container-fluid mt-5 mb-2">
        <div class="row ">
            <div class="mb-3 col-3 col-md-2 col-lg-4 text-right align-right justify-content-end">
                <img class=""
                     src="/static/assets/images/phone_blue.png" style="width: 22px;height: 22px;margin-bottom: 15px">
            </div>
            <div class="col-7 col-md-3 col-lg-2 text-left footer-text">+91 7042835383</div>

            <div class="mb-5 col-3 col-md-1 col-lg-1 text-right align-right justify-content-end">
                <img class=""
                     src="/static/assets/images/message_blue.png" style="width: 23px;height: 18px; margin-bottom: 5px">
            </div>
            <div class="col-7 col-md-3 col-lg-2 text-left footer-text">deepak@alemeno.com</div>
        </div>
    </div>


    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
                <a class="text-right footer-text" href="/blog" style="color: #A0A3BD;font-size: 18px;"
                   target="_blank">Blog</a>
            </div>

            <div class="col-sm-12 col-md-6 text-center">
                <a class="text-right footer-text" href="/terms" style="color: #A0A3BD;font-size: 18px;"
                   target="_blank">Terms and Conditions</a>
            </div>

            <div class="col-sm-12 col-md-6 text-center">
                <a class="text-right footer-text" href="/healthy_and_picky_eater_test_for_kids" style="color: #A0A3BD;font-size: 18px;"
                   target="_blank">Healthy or picky eater test</a>
            </div>

            <div class="col-sm-12 col-md-6 text-center">
                <a class="text-right footer-text" href="/privacy" style="color: #A0A3BD;font-size: 18px;"
                   target="_blank">Privacy</a>
            </div>

            <div class="col-sm-12 col-md-6 text-center">
                <a class="text-right footer-text" href="/about-us" style="color: #A0A3BD;font-size: 18px;"
                   target="_blank">About Us</a>
            </div>


            <div class="col-sm-12 col-md-6 text-center">
                <a class="text-right footer-text" href="/pricing" style="color: #A0A3BD;font-size: 18px;"
                   target="_blank">Pricing</a>
            </div>

            <!-- <div class="col-sm-12 col-md-6 text-center">
                <a class="text-right footer-text" href="/partners-and-media" target="_blank"
                   style="color: #A0A3BD;font-size: 18px;">Partners and Media</a>
            </div> -->
        </div>


    </div>


    <div class="container-fluid mb-3">
        <div class="row ">
            <div class="col-6 text-right">
                <a href="https://www.facebook.com/Alemeno-109555244141284/"> <i class="fa fa-facebook-square"
                                                                                style="font-size:32px;color:#A0A3BD"></i>
                </a>


            </div>
            <div class="col-6 text-left">

                <a href="https://www.instagram.com/alemenokids/"> <i class="fa fa-instagram"
                                                                     style="font-size:32px;color:#A0A3BD"></i>
                </a>

            </div>

        </div>
    </div>

    <div class="container-fluid mb-3">
        <div class="row ">
            <div class="col-12 text-center copyright-text">
                Copyright Alemeno Private Limited ©
            </div>
            <div class="col-12 text-center copyright-text">
		    2022. All Rights Reserved. <br> <br>
		101, Matis Villa, Majiwada, Thane, Maharashtra 400601

            </div>

        </div>
    </div>


    <br>

</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="subscriptionModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <form id="modalSubscriptionForm" name="modalSubscriptionForm">

                <div class="modal-content modal-body mx-3"
                     style="width: auto!important;border: none;margin: 20px;">
                    <p class="oops-text">Oops! You caught us while we’re making a few
                        updates to our solution; it should be available soon.</p>
                    <p class="oops-text">Please share your contact details if you’d like
                        to avail FREE trial when we are ready!</p>
                    <div class="md-form mb-2">
                        <label data-error="wrong"
                               data-success="right" for="email"
                               style="margin-bottom: 0.5rem!important;color:#424242;display: contents!important"></label>
                        <input class="form-control validate input-style" id="email" placeholder="Enter Email"
                               required type="email">


                    </div>

                    <div class="md-form mb-2">
                        <label data-error="wrong"
                               data-success="right" for="wanum"
                               style="margin-bottom: 0.5rem!important;font-size:14px;font-family:'Poppins','sans-serif';color:#424242;display: contents!important"></label>
                        <input class="form-control validate input-style" id="wanum" maxlength="10" minlength="10" pattern="\d*"
                               placeholder="Enter 10 digit Number" required type="text">
                    </div>

                    <div class="" style="padding: 20px;">
                        <input checked class="custom-checkbox checkbox-inline" id="consultation"
                               name="consultation" type="checkbox">
                        <label class="form-check-label oops-text" for="consultation"
                               style="font-size: 10px">
                            Avail free consultation call from our expert</label>

                    </div>


                    <button class="mx-auto justify-content-center register-button py-3" type="submit">
                        <b>Register</b>
                    </button>

                </div>
            </form>
        </div>

    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="shareDialog" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <button aria-label="Close" class="close" data-dismiss="modal" style="width: 1rem" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-content modal-body mx-3"
             style="width: auto!important;border-bottom: none;margin: 20px;padding: 30px">
            <span class="oops-text mb-4" style="text-align: center">
                Thank you for sharing your contact details. We would reach out to you for FREE trial when we are ready.</span>
            <br>
            <p class="normal-text" style="text-align: center;color:#5F2EEA">Spread The Love!</p>
            <span class="oops-text mb-4"
                  style="text-align: center">Invite parents who could be benefiting from this. </span>

            <a class="d-lg-none btn btn mx-auto justify-content-center register-button fa fa-whatsapp" data-action="share/whatsapp/share"
               href=""
               id="wa-button"
               style="color: white;background-color: #1e7e34;font-size: 18px;margin:auto;width:100%;
                    height:50px;padding-top: 15px;max-width: 250px" target="_blank">
                <span style="font-family:'Poppins','sans-serif';">Invite via Whatsapp</span>

            </a>


            <div class="container-fluid container mt-3" style="max-width: 250px;max-height:150px">
                <div class="row">

                    <input class="form-control base-url-result col-8 col-lg-12 input-style" id="wa-copy" style="font-family:'Poppins','sans-serif';height: 50px!important;"
                           type="text" value=""/>
                    <button class="col-4 col-lg-12 btn fa fa-copy register-button"
                            onclick="return copy()"
                            style="border-radius: 0.5rem;height: 50px!important;" type="button">
                        <span style="font-family:'Poppins','sans-serif';font-size: 14px">Copy</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal hide" id="confirm" role="dialog"
     tabindex="-1">

    <div class="modal-dialog" role="document" style="  padding-top:200px;padding-left:5%;padding-right:5%;">
        <div class="modal-content ">
            <form>

                <button class="float-right text-right" style="background-color:#fff;color:#000;border: 0px;">
                    <span class="close-button"
                          onclick="">&times;
                    </span>
                </button>


                <div class="modal-dialog bg-white text-justify py-3 mx-5" role="document"
                     style="font-size:16px;font-family:'Poppins','sans-serif'">
                    Thank you sharing your details. Alemeno is easy to use and gives proven results.
                    And, it's FREE. Download Now.
                </div>

                <div class="text-center">

                    <button class="mb-3" data-dismiss="modal"
                            id="ok" style="background: transparent;border: none;" type="button">
                        <img alt="submit" height="59" src="/static/assets/images/google-play-badge.png" target="_blank"
                             width="200"
                        />

                    </button>
                </div>

            </form>
        </div>

    </div>
</div>


</body>

{% endblock %}

</html>
