{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block content %}

<head>
    <title>Terms and Conditions</title>
    <meta content="Terms and Conditions" name="title">

</head>


<h3 class="text-center m-3" style="font-family: Poppins, sans-serif;color: #5F2EEA;">Terms and conditions</h3>

<div class="mx-5 my-4 text-justify" style="font-family: Poppins, sans-serif">

    <p>
        PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY. BY USING THIS WEBSITE AND/OR PLATFORM YOU AGREE TO BE BOUND BY
        ALL OF THE BELOW TERMS AND CONDITIONS AND PRIVACY POLICY.


    </p>
    <p>
        Alemeno (including its affiliate) (“Company“, “We” or “Us” and their connotations) operates a website (URL:
        <a class="link-primary" href="https://www.alemeno.com/">https://www.alemeno.com/</a>) and an android application
        (<a class="link-primary" href="https://play.google.com/store/apps/details?id=com.alemeno.alemeno22">Application
        URL</a>) (together called as “Platform”) which is
        engaged in the kids’ health and fitness service through its platform.
    </p>
    <p>
        These terms and conditions (“Terms”) describe the terms on which the Company grants end users access to the
        Platform (hereinafter referred to as “Services”) and shall be read with the privacy policy available on
        https://alemeno.com/general/privacy. </p>
    <p>
        Anyone below 18 years of age is assumed to be a child (“Child”) and requires parental consent to use the
        Platform. The parents of the Child or users above 18 years of age are hereinafter referred to as “You”. The term
        “Users” for the purposes of these Terms shall be read as You and/ or Child.
    </p>


    <p>
        The Company reserves the right, at its discretion, to change, modify, add, or remove portions of these Terms at
        any time by posting the amended Terms. Please check these Terms periodically for changes. Your continued use of
        the Platform or Services after the posting of changes constitutes your binding acceptance of such changes. In
        addition, when using any particular services or availing any promotional offer, you may be subject to additional
        terms and conditions, posted guidelines or rules, as may be applicable to such services and offers. All such
        guidelines, rules, product requirements or sometimes additional terms are hereby incorporated by reference into
        the Terms.
    </p>
    <h4>
        1. Terms of Service
    </h4>
    <p>
        By choosing to visit the Platform and/or avail any Services provided by Company, you agree to be bound by these
        Terms. Please read the following information carefully. If you are a parent or guardian and you provide your
        consent for your child's use of the Platform, you agree to be bound by these Terms in respect to their use of
        the Platform. By your continued access or use of the Platform, you signify your agreement to be legally bound by
        the Terms set forth herein. If you do not agree to the Terms of this agreement, promptly exit this page and stop
        accessing the Services.

    </p>

    <h4>
        2. Description of Services
    </h4>
    <p>
        The Company facilitates health and fitness related services to children. We aim at providing nutrition related
        services and education to kids and their parents through our platform.
        The concept is to identify kids’ nutrition consumption and encourage healthy eating habits through gamification,
        without any restrictions on time and place.

    </p>
    <h4>
        3. User ID and Password
    </h4>
    <p>

        In order to access the Company’s Platform and its services, You may have to create an account and disclose
        information including, but not limited to, (i) name, e-mail ID, and other contact information (ii) gender and
        other demographics (iii) birth date and year to validate the current age of the Child (iv) your email address to
        acquire the parental consent. You must be at least 18 years old to register on the Platform. If you are under 18
        years old, you are not permitted to register on this site unless such registration is completed by a parent or
        legal guardian. You acknowledge that your user ID and password (“Participant Account“) is for your exclusive use
        only. Use or sharing of your Participant Account with another user or person is not permitted and is cause for
        immediate blocking of your access to the Platform, the Services and the content provided by the Company and
        shall lead to termination of this Agreement without any notice.
        You are solely responsible for maintaining the confidentiality of your Participant Account and for all
        activities that occur under it. You agree to immediately notify to the Company if you become aware of or have
        reason to believe that there is any unauthorized use of your Participant Account. You also agree to take all
        reasonable steps to stop such unauthorized use and to cooperate with the Company in any investigation of such
        unauthorized uses. The Company shall not under any circumstances be held liable for any claims related to the
        use or misuse of your Participant Account due to the activities of any third party outside of your control or
        due to tour failure to maintain the confidentiality and security of your Participant Account.

    </p>

    <h4>
        4. Free Trial
    </h4>

    <p>

        We offer 5 days free platform access to our new members so that you get an opportunity to experience the
        services provided by us. Only 5 days of free access is permitted per new member. Multiple availment of trial
        service by an individual either through his/her own account or through someone else's accounts, email IDs and/or
        in any other manner whatsoever, without the prior written permission of the Company is not allowed and shall
        amount to a breach of the present Terms.
        Any free trial provided by the Company shall also be governed by these Terms.

    </p>
    <h4>
        5. License to Use
    </h4>
    <p>
        The Company hereby grants You and the Child, the limited, non-transferable, non-exclusive, and revocable license
        to access, view and use the Platform only for the purposes of accessing, viewing, posting or submitting user
        material, or for accessing information, applications and services. The Company reserves the right to suspend or
        deny, in its sole discretion, your access to all or any portion of the Platform. This license is limited to
        personal and non-commercial uses by You and your Child. Any rights not expressly granted to You herein are
        reserved to Company.

    </p>
    <p>
        You are not permitted to reproduce, transmit, distribute, sub-license, broadcast, disseminate, or prepare
        derivative works of the Curriculum, or any part thereof, in any manner or through any communication channels or
        means, for any purpose other than the limited purpose mentioned above, without the Company’s prior written
        consent.


    </p>

    <h4>
        6. Intellectual Property Rights
    </h4>
    <p>
        You acknowledge that the Company is the sole and exclusive owner of the Platform, the services provided by the
        Company, and its content and as such the Company is vested with all the Intellectual Property Rights and other
        proprietary rights in the Platform, the Services, and content. The Company may from time-to-time upload
        animations, audios/ sound recordings, content and other materials on the platform which shall be the exclusive
        property of the Company. You undertake not reproduce, transmit, retransmit, distribute, publish, post, share or
        make available the said animation, audios/ sound, content and other materials or any part thereof which are
        available on the Platform in any manner whatsoever.
    </p>

    <h4>
        7. Use of the Platform by the Child
    </h4>
    <p>
        You expressly acknowledge and undertake that:
        You are competent and have all the necessary legal rights to enter into this agreement on behalf of the child.
        You grant your consent to the Company for your child to use the platform provided by the Company on its Platform
        and in relation to the services provided by the Company. You undertake that the participation of the Child and
        all the activities done by the Child will be under your direct and constant supervision. You further accept full
        and complete liability arising out of the child’s acts, whether direct or indirect.

    </p>

    <h4>
        8. Payment and service access
    </h4>
    <p>
        The Platform is a paid service and the payments made by You shall be according to the plans opted by You through
        the Platform. You explicitly agree to pay the fees for the service that you purchase, and you authorize the
        Company to charge you as per the applicable payment mode opted by you.

        As soon as the customer purchases the plan, fulfillment happens online and the customer is allotted access to
        the platform immediately for the duration of the plan.

        All payments shall be through the payment mechanism put in place by the Company and You shall be responsible for
        paying all fees and applicable taxes in a timely manner as per the mechanism associated with the Plan availed by
        You. Users have been given various options to choose and proceed with the payment for the Services via payment
        mechanisms including but not limited to Card Payment facilities, EMI Payment, Online Bank Transfer and Wallet
        Payment. The payment gateway mechanisms are governed by the terms and conditions of the third-party providers as
        listed on the Platform and the User agrees to be bound by those terms.
        Valid Credit / Debit/ Cash Card/ online bank transfers and other payment instruments are processed using a
        Credit Card payment gateway or appropriate payment system infrastructure and the same will also be governed by
        the terms agreed to between the Users and the respective issuing bank and payment instrument issuing company. We
        shall not be liable for any unauthorized use, fraud, payment refunds, lost amount etc. in the transaction.

    </p>
    <h4>
        9 Cancellation and Refund
    </h4>
    <p>
        You may at any point of time decide to to cancel the services availed by you. Company shall provide you a refund
        on the cancelation of the services. The amount of refund payable shall only be limited to the amount paid by the
        User for Services which were not rendered to the User by Us.

        As soon as the customer reaches out to us for refund, we process immediate refunds for unutilized credits on a
        pro-rata basis.

        We attempt to process and complete refund requests within 24 hours from the time of receiving the refund
        request, however, in case there is any delay in refund beyond the period of 72 hours, then you may notify us on
        alemeno2020@gmail.com. The refund process may include a feedback call to you and validation of key information
        that may be required by us to process the refund request.

        We reserve the right to change any fees at any time at our sole discretion and any change, update, or
        modification in the fee shall become effective immediately upon the same being posted/uploaded or notified on
        our website.

    </p>
    <h4>
        10a User Content
    </h4>
    <p>
        The Company offers You and the Child the opportunity to submit photos of the meals that the child consumes.
        These images are used for the purpose of annotating them to identify the nutritional value of the meals to
        generate a meal scorecard. These scorecards are shared with the users of the company platform to inspire healthy
        eating habits in users. You hereby explicitly consent and grant permission to the Company to use the images as
        they deem fit.

        The company offers You and the Child the opportunity to submit their photo for the purpose of creating Profile
        Picture. You hereby explicitly consent and grant permission to the company to use the Profile Picture to assign
        Child’s meal scorecard to the Child

        All rights, ownership, and intellectual property in the ‘User Content’ created by your child on or by using the
        platform, during the period of the service, shall vest in the Company. You hereby explicitly consent and
        transfer all such rights, ownership, and intellectual property in the ‘User Content’ to the Company for a
        worldwide, royalty-free, and perpetual use. The Company shall have the sole and exclusive right to use, copy,
        modify, adapt, prepare derivative works from, distribute, perform, and display any/all such ‘User Content’.


    </p>

    <h4>
        10b User Content
    </h4>
    <p>
        The child may choose to post images other than meal photos and Profile Picture. We do not encourage your Child
        to post any content other than Meal Photos and Profile Picture on the Platform and the ill effects of such
        revelation shall be borne by you.

        The company has a zero-tolerance policy regarding objectionable content. Objectionable content includes but is
        not limited to i) sexually explicit material ii) obscene, defamatory, violent, slanderous or any unlawful
        content or profanity iii) content that infringes upon the rights of any third party including intellectual
        property, privacy, publicity, personal or propriety rights iv) Content that promotes usage of illegal or
        regulated substances, tobacco products, ammunition and firearm v) any form of gambling

        Any user can flag objectionable content. The company moderates the content to timely remove any objectionable
        content. The user account confirmed responsible for posting objectionable content will be restricted or removed
        by the Company.

        The Company will not be held responsible or liable for any of the User Content provided by You on the platform.


    </p>

    <h4>
        11. User Communication
    </h4>
    <p>
        You hereby explicitly consent to receive email, telephone, WhatsApp or text messages from Alemeno, for the
        purpose of providing alerts and information related to services.

    </p>
    <h4>
        12 Limited liability
    </h4>
    <p>
        The Company does not warrant that the operation of the Service will be uninterrupted or error-free. The Company
        will not be liable in any amount for failure to perform any obligation under this agreement if such failure is
        caused by the occurrence of any unforeseen contingency beyond the reasonable control of Company including
        Internet outages, communications outages, fire, flood, war or act of God.
        Except as provided above there are no other warranties, conditions or other terms and conditions, express or
        implied, statutory or otherwise, and all such terms and conditions are hereby excluded to the maximum extent
        permitted by law.


    </p>

    <h4>
        13. Termination
    </h4>
    <p>
        Without limiting any other rights that Company may have, Company may remove, restrict, cancel or suspend access
        to and/or use of the Platform, Services provided by the Company and any part of it, if Company considers (in the
        sole discretion of Company) that You have breached any of these Terms.
        You may also terminate your agreement with the Company by ceasing to access the Platform, Service, deleting all
        copies of the Service or part thereof within your control. Termination shall not affect any rights or remedies,
        which have accrued up to the time of termination.


    </p>

</div>
{% endblock %}


</html>

