{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% block content %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../static/step.css" />
    <link rel="stylesheet" href="../../static/iap.css" />
    <title>Alemeno</title>
  </head>
  <body>
    <div class="page">
      <div class="inner-box" style="flex-direction: column">
        <div class="head">
          <div class="step-count">STEP 1/5</div>
          <div class="step-progress">
            <div class="step-progress-completed" style="width: 20%"></div>
          </div>
        </div>
        <div class="body">
          <div class="question main-heading">What is your kid's gender?</div>

                  <div class="answer answer1" id="answer" style="    width: 200px;
    grid-template-columns: auto;
    margin: auto;
    margin-top: 50px;">

              {%  for gender in gender_range %}
                  <input type="radio" id="{{gender}}" name="gender" value="{{gender}}" class="visually-hidden">
                    <label for="{{gender}}" id="l{{gender}}" class="s1-option"> {{gender}}</label>
              {%endfor%}
                  </div>

        </div>
        <div class="foot">
          <button id="go-button" class="btn-next button">Next</button>
        </div>
      </div>
    </div>
  </body>
<script>
    const url = new URL(window.location.href)

    var urlParams = url.searchParams;
    let selectedAnswer = ""
    utmSource = urlParams.get('utm_source');
    document.getElementById("go-button").addEventListener('click', onGoButtonClick);

    document.getElementById("answer").addEventListener('click', onAnswerClick);

    genderRange =  eval("{{ gender_range| safe }}");
    console.log(genderRange)

    function onAnswerClick(event) {
       if (event.target.nodeName == 'LABEL') return;
        for (let gender in genderRange) {
        const inputSelector = document.getElementById(genderRange[gender]);
        const labelSelector = document.getElementById("l"+genderRange[gender]);
        labelSelector.style.background = 'white';
		labelSelector.style.color = 'grey';
        if (inputSelector.checked) {
                        labelSelector.style.background = '#5EA451';
                labelSelector.style.color = 'white';
		selectedAnswer = genderRange[gender];
            }
         }
        // onGoButtonClick();
    }



    function onGoButtonClick() {
        console.log("ongobutton");
        if (! selectedAnswer) {
            alert("Enter valid input");
            return;
        }

        document.getElementById("go-button").removeEventListener('click', onGoButtonClick);
        const url = new URL(window.location.href)

        var urlParams = url.searchParams;
        utmSource = urlParams.get('utm_source');
        email = urlParams.get('email');
        urlParams.set('utm_source', utmSource);
        url.search = urlParams.toString();
        var new_url = url.toString();

        new_url = new_url.replace('healthy-height-weight-test-for-kids-step1c', 'healthy-height-weight-test-for-kids-step2')
        submitAnswer();

        window.location.href = new_url;
    }

        function submitAnswer() {
        var request = new XMLHttpRequest();
        request.open('POST', "/survey/set-answer?", true);
        request.onload = function () {
            if (request.readyState === 4 && request.status === 200) {
                var res = JSON.parse(request.response);
                console.log(res)
            }
        }
        request.setRequestHeader("Content-Type", "application/json");
        score = 1;
        const data = {
            "question_number": 3,
            "email": email,
            "text_answer": selectedAnswer,
            "survey_id": 2
        };
        console.log(data);
        request.send(JSON.stringify(data));
    }
</script>
{% endblock %}

</html>
