{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% block content %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/step.css" />
    <link rel="stylesheet" href="../../static/iap.css" />

    <title>Alemeno</title>
  </head>
  <body>
    <div class="page">
      <div class="inner-box" style="flex-direction: column">
        <div class="head">
          <div class="step-count">STEP 4/5</div>
          <div class="step-progress">
            <div class="step-progress-completed" style="width: 80%"></div>
          </div>
        </div>
        <div class="body">
          <div class="question main-heading" style="font-size: large">
            Does your kid refuse to eat following food often?
          </div>
          <div class="answer answer4">
            <div class="s4-option">
              <label for="cb1">Veggies</label>
              <input type="checkbox" id="1" />
            </div>
            <div class="s4-option">
              <label for="2">Fruits</label>
              <input type="checkbox" id="2" />
            </div>
            <div class="s4-option">
              <label for="3">Others (milk, grains, protein etc)</label>
              <input type="checkbox" id="3" />
            </div>
             <div class="s4-option">
              <label for="4">My kid eats everything</label>
              <input type="checkbox" id="4" />
            </div>
          </div>
        </div>
        <div class="foot">
          <button id="go-button" class="btn-next button">Next</button>
        </div>
      </div>
    </div>
  </body>
<script>
    const url = new URL(window.location.href)

    var urlParams = url.searchParams;
    utmSource = urlParams.get('utm_source');
    document.getElementById("go-button").addEventListener('click', onGoButtonClick);


    function onGoButtonClick() {
        console.log("ongobutton");
        document.getElementById("go-button").removeEventListener('click', onGoButtonClick);
        const url = new URL(window.location.href)

        var urlParams = url.searchParams;
        email = urlParams.get('email');
        utmSource = urlParams.get('utm_source');
        urlParams.set('utm_source', utmSource);
        url.search = urlParams.toString();
        var new_url = url.toString();

        new_url = new_url.replace('healthy-height-weight-test-for-kids-step4', 'healthy-height-weight-test-for-kids-step5')
        submitAnswer()

        window.location.href = new_url;

    }

        function submitAnswer() {
        var request = new XMLHttpRequest();
        request.open('POST', "/survey/set-answer?", true);
        request.onload = function () {
            if (request.readyState === 4 && request.status === 200) {
                var res = JSON.parse(request.response);
                console.log(res)
            }
        }

        request.setRequestHeader("Content-Type", "application/json");
        var arr =[];
        $('input[type="checkbox"]:checked').each(function() {
            let option_id = parseInt($(this).prop("id"))
            if (option_id !== 4) {
                arr.push(option_id);
            }
        });
        const data = {
            "question_number": 6,
            "email": email,
            "text_answer": arr,
            "survey_id": 2
        };
        console.log(data);
        request.send(JSON.stringify(data));
    }




</script>
{% endblock %}

</html>
