/* Center the project heading */
.projects-root {
  margin-left: -12px;
  margin-right: -12px;
  padding-top: 2%;
  background-color: rgba(63, 0, 111, 0.06);
  padding-bottom: 0.5%;
  padding-right: 3%;
}
.lorem-ipsum-dolor-sit-amet-co-group {
  text-align: justify; 
  text-align: left;
  margin-left: 1rem;/* Add this line to center the heading horizontally */
}

.group-child4 {
  border-radius: 12px;
  margin-left: 5%;
  align-items: left;
  height: 21.75rem; /* 348px / 16px = 21.75rem */
  width: 33.846317916335rem; /* 541.5410766601562px / 16px = 33.846317916335rem */
  left: 0px;
  top: 90px;
  border-radius: 12px;
  margin-right: 3.75rem;  /* Add some spacing between the image and text */
}

.mealtime-gamification3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
}
.projects1 {
  margin: 0;
  text-align: center;
  flex: 1;
  position: relative;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  margin-bottom: 20px;
  color: #C53F00;
}
.frame-parent2 {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  color: #707070;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  gap: 1rem;
}
.project-name-31 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #707070;
  background-color: transparent;
  margin-bottom: 10px; /* Add space between buttons in column layout */
  border: none; /* Remove default button border */
  padding: 0; /* Remove any padding */
  margin-bottom: 10px;
  position: relative; /* Add relative positioning */
}
/* .project-name-31 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #707070;
  background-color: transparent;
  margin-bottom: 10px;
  border: none;
padding: 0; 
margin-bottom: 10px;
} */
.lorem-ipsum-dolor1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  /* margin-right: 1.25rem; Adjust the margin as per your preference */
}
.group-parent7 {
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line to center the image horizontally */
  margin-top: 20px;
}
.project-name-5-container {
  margin-right: 10px; /* Add margin on the right side */
}

.component-51 {
  margin-bottom: 20px; /* Add margin at the bottom of the image and text container */
  gap:10px;
}
/* Adjust layout for desktop and tablet */
@media (min-width: 768px) {
  /* Align buttons in a row */
  .lorem-ipsum-dolor-sit-amet-co-group {
      text-align: left;
      margin-left: 20px; /* Reset text alignment for mobile */
    }
    .frame-parent2 {
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: flex-start; 
  }

  /* Position the image on the left */
  .group-parent7 {
    display: flex;
    align-items: center;
  }
}

/* Center the image and adjust layout for mobile */
@media (max-width: 767px) {
  .group-parent7 {
      flex-direction: column;
      align-items: center;
    }
    .group-child4 {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10 12px;
      margin-left: 111px;
      margin-right: 101px;
      box-sizing: border-box;
  }
}
@media (max-width: 495px) {
  .frame-parent2 {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    gap: 1rem; /* Add gap between buttons */
  }
    .project-name-31 {
      flex-wrap: wrap;
      align-items: left;
      white-space: nowrap;
    }
  .lorem-ipsum-dolor-sit-amet-co-group {
    text-align: left;
    margin-left: 1rem;
    /* padding-left: 2%;
    padding-right: 2%;  */
  }
}
/* Justify the project description */
.lorem-ipsum-dolor1 {
  padding-top: 15px;
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.project-name-31:after {
  content: ''; /* Add content for the line */
  position: absolute; /* Position the line absolutely */
  left: 0; /* Align the line with the left edge of the button */
  bottom: -2px; /* Position the line below the button */
  width: 100%; /* Set the line width to cover the button */
  height: 2px; /* Set the height of the line */
  background-color: #00887B; /* Set the color of the line */
  visibility: hidden; /* Initially hide the line */
  transition: visibility 0s, width 0.3s; /* Add transition for smooth effect */
}

.project-name-31.clicked:after {
  visibility: visible; /* Show the line when the button is clicked */
  width: 100%; /* Set the line width to cover the button */
}
.project-name-31.clicked {
  color: #00887B;
  white-space: nowrap;
}
